.user-component{
    justify-content:space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
    margin-top: 9px;  
}

.user-component__profileimg-xl{
    width: 75px;
    height: 75px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__name-xl {
    font-weight: 600;
    font-size: 21px;
}
.user-component__status{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.user-component__profileimg-sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin-right: 20px;
}

.user-component__name-sm {
    font-size: 20px;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
}